[Unit]
Description=MongoInfoBeacon service
After=syslog.target network.target mongodb.service

[Service]
User=root
Restart=always
Type=simple
WorkingDirectory=/opt/beacons/MongoInfoBeacon
ExecStart=/usr/local/bin/pipenv run python3 /opt/beacons/MongoInfoBeacon/MongoInfoBeacon/MongoInfoBeacon.py

[Install]
WantedBy=multi-user.target
