[Unit]
Description=mongo-beacon service
After=syslog.target network.target mongodb.service

[Service]
User=YOUR_USER_NAME
Restart=always
Type=simple
WorkingDirectory=/DIRECTORY_BEACON_INSTALLED_IN/mongo-beacon
ExecStart=/usr/local/bin/pipenv run python3 /DIRECTORY_BEACON_INSTALLED_IN/mongo-beacon/mongo-beacon.py

[Install]
WantedBy=multi-user.target
