[Unit]
Description=MongoInfoBeacon service
After=syslog.target network.target mongodb.service

[Service]
User=YOUR_USER_NAME
Restart=always
Type=simple
WorkingDirectory=/DIRECTORY_BEACON_INSTALLED_IN/MongoInfoBeacon
ExecStart=/usr/local/bin/pipenv run python3 /DIRECTORY_BEACON_INSTALLED_IN/MongoInfoBeacon/MongoInfoBeacon.py

[Install]
WantedBy=multi-user.target
